body {
    margin: 0;
    text-align: center;
}

h1 {
    margin-top: 0;
    font-family: 'Great Vibes', cursive;
    color: #66BFBF;
    line-height: 2;
    font-size: 2.5em;

}

h2 {
    font-family: cursive;
    color: #66BFBF;
    line-height: 2;
    font-weight: normal;

}

h3 {
    color: #11999E;
    font-family: cursive;
    font-weight: 100;
}

p {
    font-family: cursive;
}

hr {
    border: dotted #addede 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #EAF6F6;
  }
  
.sk{
    font-family:sans-serif;
    font-weight: normal;
}
.top-cloud {
    position: absolute;
    bottom: 300px;
    margin: 200px;

}

.bottom-cloud {
    position: absolute;

}

.top-container {
    background-color: powderblue;
    padding-top: 200px;


}

.middle-container {
    text-align: center;
    background-color: #EAF6F6;
}



.rahul-img {
    width: 150px;
    height: 150px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.p {
    margin-left: 60px;
    margin-top: 30px;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.bottom-container {
    text-align: center;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}